{% extends 'users/main.html' %}
{% load static %}
{% block content %}
<div class="container pt-2">
        <div class="row">
            <div class="col-2 col-sm-3 col-md-3 col-lg-4 d-flex justify-content-center text-white text-center pt-4">
                <div class="card bg-dark bg-gradient"style="--bs-bg-opacity: 1;">
                    <img src="{% static 'images/img-02.jpg' %}" class="img-fluid rounded-circle mx-auto pt-2"
                            style="width: 290px; height:300px" alt="">
                    <div class="card-body ">
                        <h4 class="card-title text-light">Location</h4>

                    </div>
                    <div class="card-subtitle  m-2">
                        <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill ">Contact</h5>
                        <ul class="list-unstyled text-white-50 ml-4 py-2 text-left">


                            <li class="list-item text-left">
                                <i class="bi bi-phone-fill mx-1"></i>
                                Cardiac customer care: 01766663222<br>
								Specialized customer care: 01766662111<br>
								Ambulence: 01766661452,01766661900
                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-envelope-fill mx-1"></i>
                                <a href = "mailto: hasanjobairul@gmail.com">Gmail</a>
                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-linkedin mx-1"></i>
                                <a href="https://www.linkedin.com/in/jobairul-hassan-8808b3216/">Linkdin</a>

                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-geo-alt-fill mx-1"></i>
                                Mirpur,Dhaka,Bangladesh
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58403.62358099247!2d90.32726119545701!3d23.810544423633022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0c1c61277db%3A0xc7d18838730e2e59!2z4Kau4Ka_4Kaw4Kaq4KeB4KawLCDgpqLgpr7gppXgpr4!5e0!3m2!1sbn!2sbd!4v1643749217198!5m2!1sbn!2sbd"
                                 width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-10 col-sm-9 col-md-9 col-lg-8 bg-white text-dark pt-4 mt-4">

    <section class="carrier_objective">
        <div class="container">

          <div class="section-title">
            <h2>Dhaka </h2>
            <p>1st Floor,<br>Kumarpara complex,<br> Mirpur</p> </div>

			 <div class="section-title">
            <h2>Sylhet </h2>
            <p>3st Floor,<br>Kawlipara,<br> Sylhet</p> </div>

			 <div class="section-title">
            <h2>Chpttogram</h2>
            <p>Impulse City Center,<br>Nizam Road,<br> Panchlaish Chottogram</p> </div>

			 <div class="section-title">
            <h2>Rajshahi</h2>
            <p>3rd Floor,<br>Stylo Premises,<br> Boalia Rajshahi 6000</p> </div>




        </div>
      </section>










        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
{% endblock content %}