{% extends 'users/main.html' %}
{% load static %}
{% block content %}
<div class="container pt-2">
        <div class="row">
            <div class="col-2 col-sm-3 col-md-3 col-lg-4 d-flex justify-content-center text-white text-center pt-4">
                <div class="card bg-dark bg-gradient"style="--bs-bg-opacity: 1;">
                    <img src="{% static 'images/img-01.jpg' %}" class="img-fluid rounded-circle mx-auto pt-2"
                            style="width: 290px; height:300px" alt="">
                    <div class="card-body ">
                        <h4 class="card-title text-light">Hospital BD</h4>

                    </div>
                    <div class="card-subtitle  m-2">
                        <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill ">Contact</h5>
                        <ul class="list-unstyled text-white-50 ml-4 py-2 text-left">


                            <li class="list-item text-left">
                                <i class="bi bi-phone-fill mx-1"></i>
                                Cardiac customer care: 01766663222<br>
								Specialized customer care: 01766662111<br>
								Ambulence: 01766661452,01766661900
                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-envelope-fill mx-1"></i>
                                <a href = "mailto: hasanjobairul@gmail.com">Gmail</a>
                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-linkedin mx-1"></i>
                                <a href="https://www.linkedin.com/in/jobairul-hassan-8808b3216/">Linkdin</a>

                            </li>
                            <li class="list-item text-left">
                                <i class="bi bi-geo-alt-fill mx-1"></i>
                                Mirpur,Dhaka,Bangladesh
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58403.62358099247!2d90.32726119545701!3d23.810544423633022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0c1c61277db%3A0xc7d18838730e2e59!2z4Kau4Ka_4Kaw4Kaq4KeB4KawLCDgpqLgpr7gppXgpr4!5e0!3m2!1sbn!2sbd!4v1643749217198!5m2!1sbn!2sbd"
                                 width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-10 col-sm-9 col-md-9 col-lg-8 bg-white text-dark pt-4 mt-4">
                <!-- ======= Carrier Objective Section ======= -->
    <section class="carrier_objective">
        <div class="container">


          <div class="section-title">
            <h2>BANGLADESH HOSPITAL</h2>
            <p>Bangladesh Group adds yet another feather in its ornate cap - Bangladesh Hospital commissioned on 15 July 2004. A new era in the field of care is dawned, a new chapter opened.

Bangladesh Hospital - the fist international standard super-specialty hospital of the country, dedicated exclusively to the diagnosis and treatment of cardiovascular diseases have been built on a six storied building at, Mirpur - a commercial cum residential hub of Dhaka City, covering a floor space of more than 100000 sq. feet.

Equipped with most modern and state-of-the-art equipment and machineries, the Bangladesh Hospital makes a solemn commitment to the patients of the country - a commitment to maintain mastery and marvel in acre, to be compassionate and respectful to patients' beliefs and values and to make sound decision in the interest of the patients.

A band of highly skilled, dedicated and experienced surgeons, anaesthesiologists, perfusionists, nurses and technicians garnered from both home and abroad work synergistically and collaboratively under close supervision of renowned specialists of international repute not only provide 24-hour services to the patients but also remain standby to deal with any emergency conditions. Bangladesh Hospital - a hospital with a difference, strives to ensure that patients receive care in the most appropriate setting - in an environment of privacy, kindness and understanding based on LCH spirit of 'Care First' resulting in optimum clinical outcome, greater patient convenience and lower treatment costs. Our approach is comprehensive, physician-led and cost-effective. All our resources are dedicated to keeping the heart healthy and treating it when it is not.
Total Team

The fundamental strength of Bangladesh Hospital is its two teams - one of cardiologists and other surgery. The teams are composed of highly skilled, experienced and eminent cardiologists, surgeons and anaesthesiologists. Besides, a band of qualified and experienced nurses, technicians and other support personnel garnered from home and abroad are providing constant care to the patients. There exists an unprecedented amount of amity, understanding and cooperation among the members of the teams which are sine-qua-non for successful treatment out come of ailments.</p>
          </div>
		  <div class="section-title">
		  <h2>Patient Well Being - A Priority Concern</h2>
            <p>Patients' well being and recovery hinge around good nursing care and comfort to be derived from friendly and cheerful services and appropriate surrounding. Bangladesh Hospital assures its patients unsurpassed level of comfort, nursing care and convenience in an atmosphere of peace, tranquility and understanding. Its customer care service department works full time to ensure that patients return home with positive experience.</p>
          </div>

          <div class="row">
            <div class="col-lg-10 pt-4 pt-lg-0 section-title" data-aos="fade-center">
              <h2>Future Plan</h2>
              <p>Bangladesh Hospital aims to attain the following:</p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>  <span>1 To turn Bangladesh Hospital into a 'Centre of Excellence' in terms of training, research and development in cardiovascular diseases</span></li>
                    <li>  <span>To introduce newer treads in care through continued and sustained efforts utilizing cutting edge technology and expertise</span></li>
                    <li>  <span>To attain leadership status in pediatric surgery</span></li>
                    <li> <span>To perform heart transplant surgery</span></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>

        </div>
      </section><!-- End About Section -->



      <!-- ======= Conclusion Section ======= -->
    <section class="Conclusion">
        <div class="container">

          <div class="section-title">
            <h2>Conclusion</h2>
            <div>
              <p>Despite remarkable growth and development that have taken place in health care delivery system in private sector, a staggering number of patients still stream to foreign lands for better treatment 55% of whom are patients. A rough estimate has it that more than US$ 200 million is siphoned off every year from state coffer to foot the bill of medical treatment abroad.

Rapid urbanization, ever changing life style coupled with physical inactivity and unhealthy food habit amongst urban population have contributed to increased incidence of heart ailments in this category of people. Bangladesh Specialized Hospital, a super specialty hospital of international standard manned by renowned cardiologists, cardiac surgeons and other support staff shall play an all important role in providing optimum care and treatment to cardiac patients of the country.</p>
              </div>
          </div>

      </section><!-- End Conclusion Section -->





        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock content %}